<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>VueJS Learning</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        [v-cloak] { display: none }
        body > div {width: 500px; margin: 0 auto;}
        textarea {width: 100%;}
        ul e{padding: 0 15px;}
    </style>
</head>
<body>
    <div id="app" v-cloak>
        <message-list :items="messages" @delete="deleteMessage"></message-list>
        <form @submit.prevent="addMessage">
            <textarea v-model="newMessage" placeholder="Leave new message">
            </textarea>
            <div><button type="submit" :disabled="addDisabled">Add</button></div>
        </form>
    </div>
    <script src="https://unpkg.com/vue@2.5.13/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="module">
        import MessageList from './components/MessageList.js';
        import './filters/datetime.filter.js';
        let vm = new Vue({
            el: '#app',
            components: {
                MessageList
            },
            created(){
                axios.get('messages').then((response) => {
                    this.messages = response.data
                });
            },
            data(){
                return {
                    messages: [],
                    newMessage: ''
                }
            },
            methods: {
                addMessage(event){
                    let now = new Date();
                    if(!this.newMessage){ return; }
                    axios.post('messages', { text: this.newMessage }).then((response)=>{
                        this.messages.push(response.data);
                        this.newMessage = '';
                    });
                },
                deleteMessage(message){
                    axios.delete('messages/' + message.id).then((response) => {
                        axios.get('messages').then((response) => {
                            this.messages = response.data
                        });
                    });
                },
            }, computed: {
                addDisabled(){
                    return this.messages.length >= 10 || this.newMessage.length > 50;
                }
            }
        });
    </script>
</body>
</html>